<h1>Log In</h1>

<%= form_with(url: login_path, local: true) do |form| %>
  <% if get_message %>
    <div class="alert alert-<%= get_message[:type] %>"><%= get_message[:text] %></div>
  <% end %>

  <%= form.label :email %>
  <%= form.email_field :email, name: "session[email]" %>

  <%= form.label :password %>
  <%= form.password_field :password, name: "session[password]" %>

  <%= form.submit "Log In" %>
<% end %>

<%= link_to "Sign Up", signup_path %>
