<h1>Log In</h1>

<%= form_with(url: login_path, local: true) do |form| %>
  <div "display: flex;">
    <div>
      <%= form.label :email %>
    </div>
    <div>
      <%= form.email_field :email, name: "session[email]" %>
    </div>
  </div>
  <div> 
    <div>
      <%= form.label :password %>
    <div>
    <div>
      <%= form.password_field :password, name: "session[password]" %>
    <div>
  </div>

  <%= form.submit "Log In" %>
    <% if get_message %>
      <div class="alert alert-<%= get_message[:danger] %>"><%= get_message[:text] %></div>
    <% end %>
<% end %>
<div>
<%= link_to "Sign Up", signup_path %>
</div>

