<h1>Sign Up</h1>
<%= form_with(model: @user, local: true) do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <%= form.submit "Sign Up" %>
<% end %>

<%= link_to "Log In", login_path %>
