<p style="color: green"><%= notice %></p>

<h1>Videos</h1>

<div id="videos">
  <% @videos.each do |video| %>
    <%= render video %>
    <p>
      <%= link_to "Show this video", video %>
    </p>
  <% end %>
</div>

<%= link_to "New video", new_video_path %>

# ########################
# # Jya's Run - Sprint 2 #
# ########################
# #<h1>Video History</h1>
# <ul>
#   <% @videos.each do |video| %>
#     <li>
#       <%= link_to video.title, video_path(video) %> - <%= video.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
#     </li>
#   <% end %>
# </ul>
