<h1>New video</h1>

<%= render "form", video: @video %>

<br>

<div>
  <%= link_to "Back to videos", videos_path %>
</div>


######################
# Jya Run - Sprint 2 #
######################
# <h1>Upload a new video</h1>
# <%= form_with model: @video, local: true do |form| %>
#   <div>
#     <%= form.label :title %>
#     <%= form.text_field :title %>
#   </div>
#   <div>
#     <%= form.label :file %>
#     <%= form.file_field :file %>
#   </div>
#   <div>
#     <%= form.submit %>
#   </div>
# <% end %>
