<p style="color: green"><%= notice %></p>

<%= render @video %>

<div>
  <%= link_to "Edit this video", edit_video_path(@video) %> |
  <%= link_to "Back to videos", videos_path %>

  <%= button_to "Destroy this video", @video, method: :delete %>
</div>


########################
# Jya's Run - Sprint 2 #
########################
# <h1><%= @video.title %></h1>
# <video width="320" height="240" controls>
#   <source src="<%= rails_blob_path(@video.file, disposition: 'attachment') %>" type="video/mp4">
#   Your browser does not support the video tag.
# </video>
