<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1>User Email Accounts</h1>
    <%= form_with(model: @user_setting, local: true) do |form| %>
      <% if @user_setting.emails.any? %>
        <ul>
          <% @user_setting.emails.each_with_index do |email, index| %>
            <li>
              <%= email %>
              <%= link_to 'Remove', remove_email_user_setting_path(email: email), method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No emails</p>
      <% end %>
      <div id="email-fields">
        <div class="form-group">
          <%= form.label :emails, 'Add Email' %>
          <%= form.text_field :emails, class: 'form-control', multiple: true %>
        </div>
      </div>
      <%= form.submit 'Save', class: 'btn btn-success' %>
    <% end %>
    <a href="<%= root_path %>" class="btn btn-primary">Back to Home</a>
  </div>
</body>
</html>
