<%= form_with(model: [ @user, @camera ], local: true) do |form| %>
  <div class="field">
    <%= form.label :camera_name %>
    <%= form.text_field :camera_name %>
  </div>

  <div class="field">
    <%= form.label :app_id %>
    <%= form.text_field :app_id %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token %>
  </div>

  <div class="field">
    <%= form.label :channel %>
    <%= form.text_field :channel %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
