<!DOCTYPE html>
<html>
<head>
  <title>VideoRecorder</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'recording' %> <!-- Include the recording.js file -->
</head>
<body>
  <%= yield %>
</body>
</html>
